* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f6f9;
    margin-top: 100px;
}

.container {
    background: white;
    padding: 40px;
    width: 50%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

.buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #164a62;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #164a62;
}

.navbar {
    background: #164a62;
    padding: 15px 5%; /* Top/Bottom 15px, Left/Right 5% */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}



